---

- name: Copy-over daily-restart
  ansible.builtin.copy:
    src: mcs-daily-restart.sh
    dest: /usr/local/bin/mcs-daily-restart
    mode: 'a+x'
  become: true

- name: Prepare crontab PATH
  ansible.builtin.cron:
    cron_file: mcs_restart
    user: root
    name: PATH
    env: true
    value: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
  become: true

- name: Prepare crontab MAIL*
  ansible.builtin.cron:
    cron_file: mcs_restart
    user: root
    name: "{{ item.key }}"
    env: true
    value: "{{ item.value }}"
  with_items:
    - key: MAILTO
      value: "{{ admin_addr_to }}"

    - key: MAILFROM
      value: "{{ admin_addr_from }}"
  become: true
  when:
    - admin_addr_to is defined
    - admin_addr_from is defined

- name: Add daily-restart cronjob
  ansible.builtin.cron:
    cron_file: mcs_restart
    user: root
    name: run daily restart
    minute: '{{ mcs_daily_restart.split(" ")[0] }}'
    hour: '{{ mcs_daily_restart.split(" ")[1] }}'
    job: mcs-daily-restart
  become: true
  when:
    - mcs_daily_restart is defined
    - mcs_daily_restart | length > 0
