---

- name: create /opt/jolokia
  ansible.builtin.file:
    name: /opt/jolokia
    state: directory
  become: yes

- name: fetch jolokia agent
  community.general.maven_artifact:
    group_id: org.jolokia
    artifact_id: jolokia-jvm
    version: "{{ mcs_jolokia_version }}"
    dest: /opt/jolokia/jolokia-jvm-{{ mcs_jolokia_version }}.jar
    mode: '0644'
  become: yes
