version: 2.1

jobs:

  build:
    machine:
      # https://circleci.com/docs/2.0/configuration-reference/#machine
      image: ubuntu-2004:202201-02
    environment:
      ANSIBLE_PYTHON_INTERPRETER: /usr/bin/python3

    steps:
      - run: sudo rm -f /etc/apt/sources.list.d/google.list /etc/apt/sources.list.d/heroku.list
      - run: ls -lh /etc/apt/sources.list.d/
      - run: sudo apt remove --assume-yes --purge apparmor
      - run: sudo apt update
      - run: sudo apt install tree

      # prep
      - run: sudo useradd -d /home/mcs -m -s /bin/bash mcs
      - run: sudo -u mcs mkdir -p /home/mcs/.ansible/tmp

      - run: pip3 install ansible ansible-lint

      - run: ansible --version
      - run: ansible-lint --version

      - checkout
      - run: printf '[defaults]\nroles_path=../' > ansible.cfg
      - run: ansible-lint

      # dependencies
      - run: ansible-galaxy collection install community.general

      - run: ansible-playbook tests/test.yml -i tests/inventory --connection=local -v
      - run: ansible-playbook tests/test.yml -i tests/inventory --connection=local

      # debug
      - run: cat /etc/default/mcs
      - run: sudo journalctl --no-pager --unit=mcs
      - run: sudo systemctl --no-pager -l status mcs
      - run: tree /home/mcs/server
      - run: while ! sudo -u mcs screen -list mcs; do sleep 1; done
      - run: sudo -u mcs screen -p 0 -S mcs -X eval 'stuff "version"\015'
      - run: tail /home/mcs/server/logs/latest.log
      - run: sudo systemctl stop mcs
