[Unit]
Description=Minecraft Server
After=network.target

[Service]
WorkingDirectory={{ mcs_path }}
EnvironmentFile=/etc/default/mcs

User={{ mcs_user }}
Group={{ mcs_user }}

Restart=always
RestartSec=5s
Type=forking

ExecStart={{ mcs_path }}/server.sh start
ExecStop={{ mcs_path }}/server.sh stop

{% if mcs_cpu_affinity is defined and mcs_cpu_affinity|length > 0 %}
CPUAffinity={{ mcs_cpu_affinity|join(',') }}
{% endif %}

[Install]
WantedBy=multi-user.target
